<section id="proyectos" class="proyectos-section">
  
  <app-titulo texto="Mis Proyectos"></app-titulo>

  <ion-grid class="proyectos-grid">
    <ion-row>
      
      <ion-col size="12" size-md="6">
        <app-card-proyecto
          titulo="Queso Mecánico"
          subtitulo="Proyecto de Desarrollo de Interfaces"
          descripcion="Aplicación web/móvil desarrollada en Angular e Ionic para la creación de itinerarios turísticos personalizados."
          imagen="assets/icon/quesoMecanico.jpg"
          colorPrincipal="#a29bfe"
          [tags]="['Angular', 'Ionic', 'Capacitor', 'TS']"
          repoUrl="https://github.com/AnaHonrubia/QuesoMecanico"
          accionUrl="https://anahonrubia.github.io/QuesoMecanico/"
          textoAccion="Ver Demo">
        </app-card-proyecto>
      </ion-col>

      <ion-col size="12" size-md="6">
        <app-card-proyecto
          titulo="FutbLink"
          subtitulo="Proyecto Final de Grado"
          descripcion="Aplicación móvil para digitalizar el scouting futbolístico mediante perfiles multimedia y mensajería NoSQL."
          imagen="assets/icon/futblink.jpg"
          colorPrincipal="#00d2ff"
          [tags]="['Android Studio', 'Firebase', 'NoSQL']"
          repoUrl="https://github.com/AnaHonrubia/FutbLink"
          accionUrl="assets/apk/Futblink.apk"
          textoAccion="Descargar APK"
          [esApk]="true">
        </app-card-proyecto>
      </ion-col>

    </ion-row>

    <div class="github-footer">
      <ion-button fill="outline" class="btn-github-more" href="https://github.com/AnaHonrubia" target="_blank">
        <ion-icon name="logo-github" slot="start"></ion-icon>
        Ver todos mis proyectos en GitHub
      </ion-button>
    </div>

  </ion-grid>
</section>