<section id="formacion" class="formacion-section">
  
  <app-titulo texto="Formación Académica"></app-titulo>  

  <ion-list class="formacion-list">
    
    <app-item-formacion
      grado="Grado Superior DAM"
      centro="IES Leonardo Da Vinci"
      fecha="2024 - Actualidad"
      detalles="FP Dual 1º Curso: 100h en TECON (Mayo 2025)"
      detallesSecundarios="Prácticas 2º Curso: 400h en GRUPO MOVIL CONECTATE S.L. (Marzo-Junio 2026)">
    </app-item-formacion>

    <app-item-formacion
      grado="Bachillerato Ciencias de la Salud"
      centro="IES Alto de los Molinos"
      fecha="Graduada en 2024">
    </app-item-formacion>

  </ion-list>
</section>