<section id="experiencia" class="experiencia-section">

  <app-titulo texto="Experiencia Laboral"></app-titulo>

  <div class="cards-container">
    <app-card-experiencia 
      empresa="TECON" 
      cargo="Prácticas FP Dual (100h)" 
      fecha="Mayo 2025" 
      color="#00d2ff">
    </app-card-experiencia>

    <app-card-experiencia 
      empresa="3D Seguridad" 
      cargo="Departamento de Contabilidad" 
      fecha="Junio - Septiembre 2025" 
      color="#a29bfe">
    </app-card-experiencia>

    <app-card-experiencia 
      empresa="GRUPO MOVIL CONECTATE S.L" 
      cargo="Prácticas 2º Curso GS DAM (400h)" 
      fecha="Marzo - Junio 2026" 
      color="#00d2ff">
    </app-card-experiencia>
  </div>
  
</section>