<section id="habilidades" class="habilidades-section">
  <app-titulo texto="Habilidades y Herramientas"></app-titulo>

  <div class="skills-grid">
    <app-item-habilidad nombre="HTML5" icono="logo-html5" colorIcono="#e34f26"></app-item-habilidad>
    <app-item-habilidad nombre="CSS3 / SCSS" icono="logo-css3" colorIcono="#1572b6"></app-item-habilidad>
    <app-item-habilidad nombre="JavaScript" icono="logo-javascript" colorIcono="#f7df1e"></app-item-habilidad>
    <app-item-habilidad nombre="TypeScript" icono="code-slash-outline" colorIcono="#3178c6"></app-item-habilidad>
    <app-item-habilidad nombre="Angular" icono="logo-angular" colorIcono="#dd0031"></app-item-habilidad>
    <app-item-habilidad nombre="Ionic" icono="logo-ionic" colorIcono="#3880ff"></app-item-habilidad>
    <app-item-habilidad nombre="Git / GitHub" icono="logo-github" colorIcono="#ffffff"></app-item-habilidad>
  </div>
  
</section>