<section id="hero" class="hero-container">
  <div class="hero-content">
    
    <app-avatar imagen="assets/icon/perfil.png" alt="Ana Honrubia"></app-avatar>

    <h1 class="hero-title">
      Ana Honrubia Borja
    </h1>

    <p class="hero-subtitle">
      Estudiante de DAM | Especializada en Angular e Ionic
    </p>

    <p class="hero-description">
      IES Leonardo Da Vinci. Más de 500 horas de prácticas en empresas tecnológicas.
    </p>

    <app-boton texto="Conóceme" (clic)="onConoceme()"></app-boton>
    
  </div>
</section>