<section id="sobre-mi" style="padding: 3.75rem 1.25rem; background: #000000; text-align: center;">
  
  <app-titulo texto="Sobre Mí"></app-titulo>

  <p style="color: #cccccc; font-size: 1.1rem; max-width: 50rem; margin: 0 auto 3.12rem auto; line-height: 1.6; text-align: justify;">
    ¡Hola! Soy <b>Ana Honrubia Borja</b>, estudiante de DAM en el IES Leonardo Da Vinci. 
    Me defino como una persona responsable, ordenada y con gran capacidad de trabajo en equipo. Busco mi primera oportunidad para demostrar mis ganas de aprender y crecer en el sector tecnológico.
  </p>

  <ion-grid style="max-width: 50rem; margin: 0 auto;">
    <ion-row class="ion-justify-content-center">
      
      <ion-col size="12" size-md="6">
        <app-card-informativa 
          imagen="assets/icon/desarrollo.jpg" 
          titulo="Desarrollo" 
          descripcion="Construyo aplicaciones web o multiplataforma utilizando las últimas tecnologías.">
        </app-card-informativa>
      </ion-col>

      <ion-col size="12" size-md="6">
        <app-card-informativa 
          imagen="assets/icon/soluciones.jpg" 
          titulo="Soluciones" 
          colorBorde="#00d2ff"
          descripcion="Me gusta plantear los retos con un enfoque creativo, buscando la mejor experiencia.">
        </app-card-informativa>
      </ion-col>

    </ion-row>
  </ion-grid>
</section>